@media (min-width: 768px) {
    .container {
      width: 748px;
    }

    /* ========== HEADER ========== */

    /* ===== Navigation ===== */

    .site-header {
        height: 90px;
    }
    .site-navigation {
        grid-template-columns: repeat(5, 20%);
        margin-top: 10px;
}

/* === logo === */

    .logo-wrap {
    grid-column: 1/3;    
    height: 46px;
    width: 210px;
    margin-left: 10px;
}

/* === phone schedule === */

.work-schedule{
    grid-column: 4/6;
    grid-template-columns: 25px 1fr;
    margin-left: 120px;
}

.phone-image-wrap div {
    height: 22px;
    width: 22px;
}
.work-schedule-item-a p{
    font-size: 8px;
}
.work-schedule-item-b a{
    font-size: 15.6px;
}
.phone-arrow-wrap{
    height: 5px;
    width: 8px;
    margin-left: 5px;
}


/* === language === */

.language-list{
    grid-column: 1/2;
    grid-row: 2/3;
    margin-left: 10px;
}
.flag-wrap{
    width: 18px;
    height: 12px;
    margin-right: 8px;
}
.language-title{
    font-size: 14px;
}
.language-arrow-wrap{
    height: 5px;
    width: 8px;
    margin-left: 5px;
}



/* === submenu === */

.submenu-wrap{
    width: 60px;
    height: 72px;
}

/* ========== */

.lang p{
    font-size: 10px;
    margin-right: 8px;
}
.lang-a{
    left: 12px;
}
.lang-b{
    left: 12px;
}
.flag-pl{
    width: 18px;
    height: 12px;
}
.lang-c{
    left: 12px;
}
.flag-ru{
    width: 18px;
    height: 12px;
}



/* === menu === */

.header {
    grid-column: 2/6;
    grid-row: 2/3;
}
.header ul{
    display: flex;
    justify-content: space-between;
    overflow: visible;
    padding-top: 8px;
}
.header li a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 12px;
    padding: 5px;
    transition: all 0.3s linear;
}
.header li a:hover,
.header .menu-btn:hover {
    color: #e6362c;
}
.header .menu {
    clear: none;
    float: right;
    max-height: none;
    width: 100%;
}
.menu {
    position: relative;
    z-index: 0;
    top: 0;
}
.header .menu-icon {
    display: none;
}
.header ul {
    background: none;
}

/* ========== */

.header .menu-arrow-wrap{
    height: 5px;
    width: 8px;
    margin-left: 5px;
    transition: all 0.3s linear;
}
.header .prod-sup >a:hover .header .menu-arrow-wrap{
    background-image: url("../img/icons/header/down-arrow-hover.png");
}

/* === submenu2 === */

.prod-sup{
    width: 95px;
}
.header .sub-wrap{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    background: #fff;
}
.header .sub__item{
    width: 15%;
}
.header .sub__item >a{
    font-size: 10px;
    padding: 20px 5px;
}
.header .prod-sup__sub{
    width: 748px;
    top: 50%;
    left: 50%;
    transform: translateX(-70%);
    padding-top: 20px;
    margin-top: 0;
}

/* === search === */

.search-wrap{
    height: 16px;
    width: 18px;
}





/* ========== MAIN ========== */

/* ===== Slider ===== */

.slider-banner{
    height: 585px;
}
.slider-title{
    font-size: 32px;
    top: 204px;
    left: 55%;
}
.slider-subtitle{
    font-size: 24px;
    top: 166px;
    left: 55%;
}
.slider-about{
    font-size: 10px;
    top: 324px;
    left: 55%;
}
.slider-btn{
    top: 414px;
    left: 55%;
    font-size: 12px;
    padding: 10px 15px;
}.switch-slider{
    top: 570px;
    width: 75px;
    height: 12px;
}

/* ====== Benefits ===== */

.benefits{
    margin-top: 20px;
}

/* === list === */

.benefits-list{
    margin-bottom: 60px;
}
.benefits-item{
    width: 50%;
}
.benefits-item:not(:last-child){
    margin-bottom: 0px;
}
.benefits-item:nth-child(-n+2){
    margin-bottom: 30px;
}
.benefits-img-wrap{
    height: 60px;
    margin-bottom: 20px;
}
.benefits-img2-internal{
    height: 85%;
}
.benefits-item h3{
    font-size: 18px;
    margin-bottom: 20px;
}
.benefits-item p{
    font-size: 12px;
}
.line-wrap{
    margin-bottom: 60px;
}



/* ===== Products ===== */

.products-title{
    font-size: 24px;
    margin-bottom: 50px;
}
.products-about{
    font-size: 12px;
    margin-bottom: 44px;
}

/* === list === */

.products-list{
    margin-bottom: 60px;
}
.product-item:not(:last-child){
    margin-bottom: 0;
}
.product-item:nth-child(-n+2){
    margin-bottom: 30px;
}
.product-item{
    width: 240px;
    margin: 0 62px;
}
.product-item img{
    width: 240px;
    height: 300px;
    margin: 0 auto;
}
.product-item h3{
    font-size: 20px;
    padding: 0 40px;
}
.products-line-wrap{
    margin-bottom: 60px;
}

/* === overlay === */

.overlay-icon div{
    width: 40px;
    height: 40px;
}
.overlay-title h4{
    top: 40%;
    font-size: 14px;
    padding: 0 40px;
}
.overlay-about p{
    top: 60%;
    font-size: 10px;
    padding: 0 20px;
}
.overlay-batton button{
    font-size: 11px;
}



/* ===== Trust ===== */

.trust-title{
    font-size: 24px;
    margin-bottom: 44px;
}

/* === list === */

.trust-list{
    justify-content: space-evenly;
    margin-bottom: 60px;
}
.trust-item{
    margin: 0 40px;
}
.trust-item:not(:last-child){
    margin-bottom: 0;
}
.trust-item:nth-child(-n+2){
    margin-bottom: 30px;
}
.img-wrap{
    min-width: 190px;
    min-height: 75px;
}
.trust-line-wrap{
    margin-bottom: 60px;
}





/* ========== FOOTER ========== */

/* ===== Logo ===== */

.lower-logo{
    width: 30px;
    height: 24px;
    margin-bottom: 26px;
}

/* ===== Menu ===== */

.lower-menu-list{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding-left: 0;
    margin: 0 100px;
    margin-bottom: 24px;
}

.lower-menu-item:not(:last-child){
    margin-bottom: 0;
}

.lower-menu-item a{
    font-size: 12px;
}

/* ===== Social ===== */

.social-list{
    margin-bottom: 26px;
}

/* ===== End ===== */

.end{
    font-size: 10px;
    margin-bottom: 54px;
}

/* === button up === */

.btn-up{
    top: 85%;
    left: 90%;
    width: 34px;
    height: 34px;
}
.btn-up-icon{
    width: 26px;
    height: 26px;
    margin-left: 4px;
}

}





@media (min-width: 1300px) {
    .container {
      width: 1280px;
    }

    /* ========== HEADER ========== */

    /* ===== Navigation ===== */

    .site-header {
        height: 120px;
    }
    .site-navigation {
        grid-template-columns: repeat(40, 2.5%);
        grid-template-rows: 1fr;
        padding-top: 30px;
        margin-top: 0;
}

/* === logo === */

    .logo-wrap {
    grid-column: 1/10;
    height: 60px;
    width: 278px;
    margin-left: 0;
}

/* === phone schedule === */

.work-schedule{
    grid-column: 11/18;
    grid-template-columns: 40px 1fr;
    margin-left: 0;
}

.phone-image-wrap div {
    height: 30px;
    width: 30px;
}
.work-schedule-item-a p{
    font-size: 10px;
    padding-top: 4px;
}
.work-schedule-item-b a{
    font-size: 19.6px;
}
.phone-arrow-wrap{
    height: 6px;
    width: 10px;
    margin-left: 6px;
}

/* === language === */

.language-list{
    grid-column: 18/21;
    grid-row: 1/2;
    margin-left: 12px;
}
.flag-wrap{
    width: 26px;
    height: 16px;
    margin-right: 10px;
}
.language-title{
    font-size: 16px;
}
.language-arrow-wrap{
    height: 6px;
    width: 10px;
    margin-left: 6px;
}

/* === submenu === */

.submenu-wrap{
    width: 82px;
    height: 96px;
}

/* ========== */

.lang p{
    font-size: 14px;
    margin-right: 20px;
}
.lang-a{
    left: 10px;
}
.lang-b{
    left: 10px;
}
.flag-pl{
    width: 24px;
    height: 16px;
}
.lang-c{
    left: 10px;
}
.flag-ru{
    width: 24px;
    height: 16px;
}

/* === menu === */

.header {
    grid-column: 21/41;
    grid-row: 1/2;
}
.header ul{
    padding-top: 12px;
}
.header li a {
    font-size: 16px;
}

/* ========== */

.header .menu-arrow-wrap{
    height: 6px;
    width: 10px;
    margin-left: 6px;
}

/* === submenu2 === */

.prod-sup{
    width: 118px;
}
.header .sub__item >a{
    font-size: 12px;
    padding: 40px 10px;
}


.header .prod-sup__sub{
    width: 1280px;
    left: 50%;
    transform: translateX(-82%);
    padding-top: 55px;
}

/* === search === */

.search-wrap{
    height: 18px;
    width: 22px;
}





/* ========== MAIN ========== */

/* ===== Slider ===== */

.slider-banner{
    height: 780px;
}.slider-title{
    font-size: 42px;
    top: 274px;
    /* left: 60%; */
}
.slider-subtitle{
    font-size: 30px;
    top: 216px;
    /* left: 60%; */
}
.slider-about{
    width: 23%;
    font-size: 12px;
    top: 432px;
    /* left: 60%; */
}
.slider-btn{
    top: 550px;
    /* left: 60%; */
    font-size: 16px;
    padding: 12px 32px;
}
.switch-slider{
    top: 760px;
    width: 100px;
    height: 16px;
}

/* ===== Benefits ===== */

.benefits{
    margin-top: 40px;
}

/* === list === */

.benefits-list{
    flex-wrap: nowrap;
    margin-bottom: 76px;
}
.benefits-item{
    width: 25%;
}
.benefits-item:nth-child(-n+2){
    margin-bottom: 0;
}
.benefits-img-wrap{
    height: 80px;
}
.benefits-img2-internal{
    height: 85%;
}
.benefits-item h3{
    font-size: 22px;
    margin-bottom: 24px;
}
.benefits-item p{
    font-size: 16px;
}
.line-wrap{
    margin-bottom: 76px;
}



/* ===== Products ===== */

.products-title{
    font-size: 32px;
    margin-bottom: 66px;
}
.products-about{
    font-size: 16px;
    margin-bottom: 58px;
}

/* === list === */

.products-list{
    flex-wrap: nowrap;
    margin-bottom: 76px;
}
.product-item:nth-child(-n+2){
    margin-bottom: 0;
}
.product-item{
    width: 320px;
    margin: 0 10px;
}
.product-item img{
    width: 320px;
    height: 400px;
}
.product-item h3{
    font-size: 24px;
    padding: 0 60px;
}
.prod1, .prod2, .prod3, .prod4{
    left: 0%;
}
.products-line-wrap{
    margin-bottom: 76px;
}

/* === overlay === */

.overlay-icon div{
    width: 60px;
    height: 60px;
}

.overlay-title h4{
    font-size: 16px;
}

.overlay-about p{
    top: 55%;
    font-size: 15px;
    padding: 0 40px;
}

.overlay-batton button{
    font-size: 12px;
    padding: 10px 24px;
}



/* ===== Trust ===== */

.trust-title{
    font-size: 32px;
    margin-bottom: 58px;
}

/* === list === */

.trust-list{
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-bottom: 76px;
}
.trust-item{
    margin: 0;
}
.trust-item:nth-child(-n+2){
    margin-bottom: 0px;
}
.img-wrap{
    min-width: 250px;
    min-height: 100px;
    background-size: auto;
}

.trust-line-wrap{
    margin-bottom: 76px;
}





/* ========== FOOTER ========== */

/* ===== Logo ===== */

.lower-logo{
    width: 40px;
    height: 32px;
    margin-bottom: 34px;
}

/* ===== Menu ===== */

.lower-menu-list{
    margin: 0 200px;
    margin-bottom: 32px;
}
.lower-menu-item a{
    font-size: 14px;
}

/* ===== Social ===== */

.social-list{
    margin-bottom: 34px;
}

/* ===== End ===== */

.end{
    font-size: 12px;
    margin-bottom: 70px;
}

/* === button up === */

.btn-up{
    left: 95%;
    width: 44px;
    height: 44px;
}
.btn-up-icon{
    width: 34px;
    height: 34px;
    margin-left: 5px;
}

}